## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("D:\DevTools\Repos\Patrick\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.58,81,97,8.12,light rain
1,1,Marienburg,PL,54.0359,19.0266,47.86,98,100,10.65,overcast clouds
2,2,Barrow,US,71.2906,-156.7887,-25.58,83,20,5.75,few clouds
3,3,Cidreira,BR,-30.1811,-50.2056,73.15,92,100,15.86,overcast clouds
4,4,Bar Harbor,US,44.3876,-68.2039,31.64,49,1,5.01,clear sky

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.58,81,97,8.12,light rain
6,6,Manakara,MG,-22.1333,48.0167,80.22,72,8,11.70,clear sky
9,9,Atuona,PF,-9.8000,-139.0333,77.40,78,30,16.71,light rain
19,19,Muli,MV,2.9167,73.5667,82.53,76,33,13.71,scattered clouds
26,26,Padang,ID,-0.9492,100.3543,78.85,88,100,2.51,moderate rain
27,27,Praia,CV,14.9215,-23.5087,76.17,64,100,13.15,overcast clouds
33,33,Vaini,TO,-21.2000,-175.2000,75.36,100,20,5.75,few clouds
40,40,Buchanan,LR,5.8808,-10.0467,83.10,72,87,6.20,light rain
43,43,Cayenne,GF,4.9333,-52.3333,79.09,89,75,5.01,mist
46,46,Sao Joao Da Barra,BR,-21.6403,-41.0511,87.89,80,100,15.39,overcast clouds

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                165
City                   165
Country                165
Lat                    165
Lng                    165
Max Temp               165
Humidity               165
Cloudiness             165
Wind Speed             165
Current Description    165
dtype: int64

In [29]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#did 4b on 3 using .dropna()

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.58,light rain,-23.1203,-134.9692,
6,Manakara,MG,80.22,clear sky,-22.1333,48.0167,
9,Atuona,PF,77.40,light rain,-9.8000,-139.0333,
19,Muli,MV,82.53,scattered clouds,2.9167,73.5667,
26,Padang,ID,78.85,moderate rain,-0.9492,100.3543,
27,Praia,CV,76.17,overcast clouds,14.9215,-23.5087,
33,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
40,Buchanan,LR,83.10,light rain,5.8808,-10.0467,
43,Cayenne,GF,79.09,mist,4.9333,-52.3333,
46,Sao Joao Da Barra,BR,87.89,overcast clouds,-21.6403,-41.0511,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.58,light rain,-23.1203,-134.9692,People ThankYou
6,Manakara,MG,80.22,clear sky,-22.1333,48.0167,La Residence Manakara
9,Atuona,PF,77.40,light rain,-9.8000,-139.0333,Villa Enata
19,Muli,MV,82.53,scattered clouds,2.9167,73.5667,Medhufushi Island Resort
26,Padang,ID,78.85,moderate rain,-0.9492,100.3543,Mercure Padang
...,...,...,...,...,...,...,...
543,Namatanai,PG,80.15,light rain,-3.6667,152.4333,Seagulls Inn Namatani
546,Mananjary,MG,80.29,clear sky,-21.2167,48.3333,Vahiny Lodge
553,Phan Thiet,VN,75.33,broken clouds,10.9333,108.1000,Hotel Saigon-PT
562,Manggar,ID,79.77,overcast clouds,-2.8833,108.2667,Guest Hotel
567,Poum,NC,78.28,scattered clouds,-20.2333,164.0167,Gîte kajeon

In [35]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.58,light rain,-23.1203,-134.9692,People ThankYou
6,Manakara,MG,80.22,clear sky,-22.1333,48.0167,La Residence Manakara
9,Atuona,PF,77.40,light rain,-9.8000,-139.0333,Villa Enata
19,Muli,MV,82.53,scattered clouds,2.9167,73.5667,Medhufushi Island Resort
26,Padang,ID,78.85,moderate rain,-0.9492,100.3543,Mercure Padang
...,...,...,...,...,...,...,...
543,Namatanai,PG,80.15,light rain,-3.6667,152.4333,Seagulls Inn Namatani
546,Mananjary,MG,80.29,clear sky,-21.2167,48.3333,Vahiny Lodge
553,Phan Thiet,VN,75.33,broken clouds,10.9333,108.1000,Hotel Saigon-PT
562,Manggar,ID,79.77,overcast clouds,-2.8833,108.2667,Guest Hotel
567,Poum,NC,78.28,scattered clouds,-20.2333,164.0167,Gîte kajeon

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [48]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))